name: CheckStyle Release Workflow
on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Setup Java JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
          distribution: 'temurin'
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN
      - name: Setup git credentials
        run: |
          git config --global user.email "cemalettin.koc+heroci@gmail.com"
          git config --global user.name "heroci"
      - name: Release startupheroes-checkstyle
        run: ./mvnw -B release:prepare release:perform
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ github.token }}
